<footer class="w-full bg-gray-800 text-white pt-8 pb-0">
    <div class="container mx-auto px-4 w-full max-w-full">
        <div class="flex flex-col md:flex-row justify-between">
            <div class="mb-4 md:ml-7 md:mb-0">
                <img src="logo-siaf-footer.png" alt="SIAF-RP Logo" class="h-16 mb-4" />
                <img src="logo-mef-footer.png" alt="Ministerio de Economía y Finanzas" class="h-12" />
            </div>
            <div class="mb-4 md:ml-7 md:mb-0">
                <h3 class="text-lg font-semibold mb-4">Política de privacidad</h3>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-gray-300 hover:text-white">Aviso de privacidad</a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-300 hover:text-white">Términos y condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="mb-4 md:mr-16 md:mb-0">
                <h3 class="text-lg font-semibold mb-4">Atención al usuario</h3>
                <ul class="space-y-2">
                    <li class="flex items-center">
                        <i class="fas fa-envelope mr-2"></i>
                        <a href="mailto:ayuda&#64;mef.gob.pe"
                            class="text-gray-300 hover:text-white">ayuda&#64;mef.gob.pe</a>
                    </li>
                    <li class="flex items-center">
                        <i class="fas fa-phone mr-2"></i>
                        <span class="text-gray-300">+511 999 9999</span>
                    </li>
                    <li class="flex items-center">
                        <i class="fas fa-phone mr-2"></i>
                        <span class="text-gray-300">+511 999 999 999</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-8 border-t border-gray-700 py-4 text-center text-gray-400 text-base bg-gray-900 w-full">
        <div class="container mx-auto px-4">
            <span>Copyright © 2025 SIAF-RP | Todos los derechos reservados</span>
        </div>
    </div>
</footer>